.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(62, 76, 84);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green {
	color: green;
}

.red {
	color: red;
}

.round {
  border-radius: 50%;
  object-fit: cover;
  width: 100px; 
  height: 100px; 
}

.price-diff,
.percentage-diff {
  font-size: 20px;
  margin-top: 2px;
  align-items: right;
  padding-left: 20px;
}

.stocks-table {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.stock-info {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
}

.ticker {
  font-size: 1.5em;
}

.price {
  font-size: 1.5em;
}

.price-diff {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding-right: 10px;
}
